:root { 
    --navbar-height: 4rem;
}

#wrapper {
    height: 100vh;
    width: 100%;
}

.no_pad { padding: 0; }

/********************************** HEADER **********************************/
header { 
    height: var(--navbar-height);
    width: 100%;
}

/* logo */
#big_logo { max-width: 7rem; }

#small_logo { max-width: 3rem; }

/* search bar */
#my_input .form-control, #searchIcon { background-color: #DEE2E6; }

#searchIcon { 
    padding: 0.7rem 0.2rem 0 0.6rem; 
    border-radius: 6px 0 0 6px;
}

.fa-bell { color: #FF8F00; }

.dropdown-toggle::after { display: none }


/********************************** MAIN **********************************/

/* sidebar */
#my_sidebar { 
    height: calc(100vh - var(--navbar-height));;
    width: 2.8rem; 
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

.sidebarItem { font-size: 0.8rem; }

.fa-home, .fa-chart-simple, .fa-signal { width: 1.4rem; }


/* main content */
#my_course { width: calc(100vw - 2.8rem); }

.course_headerItem { font-size: 0.75rem; }

#offcanvasBtn:hover i { color: #1B72E8 !important; }

#offcanvasBtn:active i { color: #1B72E8 !important; }

.badge { 
    background-color: #165BBA !important; 
    font-size: 0.65rem;
    font-weight: 500;
}

/* MQ SIDEBAR: ho provato a farla con il cambio variabile del root ma non funzionava */
@media screen and (min-width: 576px) {
    #my_sidebar {width: 8rem;}    
    #my_course { width: calc(100vw - 8rem); }
}





.bg-pink {background-color: pink;}
.bg-yellow {background-color: yellow;}
